<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Vue js</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <style>
        .completed {
            color: #4cae4c;
        }
        .operation {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Welcome Vue js</div>
                <div class="panel-body">
                    <h1>My todos ({{ todoCounts}})</h1>
                    <todo-items v-bind:todos="todos"></todo-items>
                    <todo-form v-bind:todos="todos"></todo-form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="todo-items-template">
    <ul class="list-group">
        <li class="list-group-item"
            v-bind:class="{ 'completed' : todo.completed}"
            v-for="(todo, index) in todos">
            {{todo.title}}
            <button class="operation btn btn-warning btn-xs pull-right" v-on:click="deleteTodo(index)">delete</button>
            <button class="operation btn btn-xs pull-right " v-bind:class="[todo.completed ? 'btn-danger' : 'btn-success']" v-on:click="toggleCompleted(todo)">{{ todo.completed ? 'undo' : 'completed' }}</button>
        </li>
    </ul>
</script>
<script type="text/x-template" id="todo-form-template">
    <form v-on:submit.prevent="addTodo(newTodo)">
        <div class="form-group">
            <input type="text" class="form-control" v-model="newTodo.title" placeholder="Add a new todo" />
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Add Todo</button>
        </div>
    </form>
</script>
<script src="js/vue.js"></script>
<script>
    Vue.component('todo-items', {
        template: '#todo-items-template',
        props:['todos'],
        methods: {
            deleteTodo (index) {
                // 移除todo
                this.todos.splice(index, 1);
            },
            toggleCompleted(todo) {
                todo.completed = !todo.completed
            }
        }
    });
    Vue.component('todo-form', {
        template: '#todo-form-template',
        props:['todos'],
        data() {
            return {
                newTodo: {
                    id:null,
                    title:'',
                    completed:false
                }
            }
        },
        methods: {
            addTodo (newTodo) {
                this.todos.push(newTodo),
                    this.newTodo = {id:null,title:''}
            }
        },
    });
    new Vue({
        el: "#app",
        data : {
            todos : [
                {id:1,title:'Learn Vuejs',completed:false}
            ]
        },
        computed: {
            todoCounts() {
                return this.todos.length;
            }
        }
    })
</script>
</body>
</html>